// 颜色定义规范
$color-background = #f9f9f9

// 文字颜色
$color-text = #464646  // 文字色1

// 辅助色
$color-white = #ffffff  // 白色
$color-light-gray = #dadada  // 浅浅灰
$color-green = #00c350 // 绿色
$color-orange = #ff4e00 // 橙色
$color-yellow = #fdfb00 // 黄色

//// 横线色值
$color-row-line = #F0EFF5
//// 竖线色值
$color-col-line = #F0EFF5

//字体
$font-family-regular = 'PingFangSC-Regular'
$font-family-light = 'PingFangSC-Light'

// 字体大小
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-m = 20px
$font-size-large-l = 21px
$font-size-large-xx = 24px
