// 颜色定义规范
$color-F9F9F9 = #f9f9f9
$color-888888 = #888888
$color-CCCCCC = #CCCCCC
$color-B6B6B6 = #b6b6b6
$color-9B9B9B = #9b9b9b
$color-F6F6F6 = #F6F6F6
$color-E6E6E6 = #e6e6e6
$color-363537 = #363547
$color-363547 = #363547
$color-464646 = #464646
$color-868590 = #868590
$color-9C9BAE = #9C9BAE
$color-FFDA4F = #ffda4f
$color-C8C8C8 = #C8C8C8
$color-4A4657 = #4A4657
$color-696771 = #696771
$color-EF705D = #EF705D
$color-F1CAB7 = #f1cab7
$color-FF4E00 = #FF4E00
$color-F28C7D = #F28C7D
$color-DADADA = #dadada
$color-00C350 = #00c350
$color-F04F35 = #f04f35
$color-FDFB00 = #fdfb00
$color-BC6C00 = #BC6C00
$color-706B82 = #706B82
$color-1AC521 = #1AC521
$color-FF4E1F = #FF4E1F
$color-2D2D2D = #2d2d2d
$color-F0EFF5 = #F0EFF5
$color-20202E = #20202E
$color-F0F2F5 = #F0F2F5
$color-56BA15 = #56BA15


// 辅助色
$color-black = #000000
$color-white = #ffffff
$color-background = $color-F6F6F6


// 遮罩
$color-mask-bgc = rgba(54, 53, 71, .8)

//// 边框色值
$color-checkbox-line = #979797
//// 横线色值
$color-row-line-s = #AEAEBB

$color-col-line-f = #F0EFF5

//// 横线色值
$color-row-line = #E6E6E6
//// 竖线色值
$color-col-line = #E6E6E6

//字体
$font-family-regular = 'PingFangSC-Regular'
$font-family-light = 'PingFangSC-Light'
$font-family-medium = 'PingFangSC-Medium'
$font-family-bold = 'DINAlternate-Bold'

// 字体大小
$font-size-10 = 10px
$font-size-12 = 12px
$font-size-14 = 14px
$font-size-16 = 16px
$font-size-18 = 18px
$font-size-20 = 20px
$font-size-21 = 21px
$font-size-24 = 24px

// tab高度
$tab-height = 50px
